<h1>Prêt à lire</h1>

<p>Texte : <%= @text&.title %></p>
<p>Élève : <%= @student&.first_name %></p>

<p>
  <%= button_to "Démarrer", "/sessions/start", method: :post %>
</p>

<p>
  (On améliorera cet écran quand on aura le flux complet)
</p>