<h1>Prêt à lire</h1>

<p>Texte : <%= @reading_text&.title %></p>
<p>Élève : <%= @student&.first_name %></p>

<p>
  <%= button_to "Démarrer",
              "/sessions/start",
              method: :post,
              params: {
                student_id: @student.id,
                text_id: @reading_text.id
              },
              data: { turbo: false } %>
</p>

<p>
  (On améliorera cet écran quand on aura le flux complet)
</p>