<h1>Lecture en cours</h1>

<p>Chronomètre en cours…</p>

<%= form_with url: "/sessions/stop", method: :post, data: { turbo: false } do %>
  <%= hidden_field_tag :session_id, @session.id %>

  <!-- On mettra la vraie durée en JS plus tard -->
  <%= hidden_field_tag :duration_seconds, 30 %>

  <%= submit_tag "Arrêter" %>
<% end %>